AuthorizedKeysFile      .ssh/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
UsePAM yes
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
Subsystem       sftp    /usr/lib/ssh/sftp-server
